
@{
    ViewBag.Title = "Novo Usuário";
}

<div class="jumbotron">
    <h1>Novo usuário cadastrado!</h1>
    <p>Acesse agora o login para poder usar o sistema</p>
    <p>
        @Html.ActionLink("Acessar", "Index", "Home", new { @class = "btn btn-primary btn-lg" })
    </p>
</div>