@model IEnumerable<LendGamesToMyFriends.Models.Game>
@{
    ViewBag.Title = "Meus Jogos";
}

<h2>@ViewBag.Title</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["Error"].ToString()</div>
}
<div class="row">
    <div class="form-group">
        @Html.ActionLink("Novo", "New", "Game", new { @class = "btn btn-primary btn-lg" })
    </div>
</div>
<div class="row">
    <div class="list-group">
        @foreach (var game in Model)
        {

            @Html.ActionLink(game.Title, "Edit", "Game", new { id = game.Id }, new { @class = "list-group-item" })
        }
    </div>
</div>
