@model IEnumerable<LendGamesToMyFriends.Models.Friend>
@{
    ViewBag.Title = "Meus Amigos";
}

<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
<div class="row">
    <div class="form-group">
        @Html.ActionLink("Novo", "New", "Friend", new { @class = "btn btn-primary btn-lg" })
    </div>
</div>
<div class="row">
    <div class="list-group">
        @foreach (var friend in Model)
        {

            @Html.ActionLink($"{friend.Name} {friend.LastName}", "Edit", "Friend", new { id = friend.Id }, new { @class = "list-group-item" })
        }
    </div>
</div>
